.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  /* row-gap: 10px; */
  overflow: hidden;
}

.grid {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 1px solid rgb(175, 216, 248);
  border-right: 1px solid rgb(175, 216, 248);
}

.row {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
}

.description {
  color: rgb(12, 53, 71);
  margin: 10px 0;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .description {
    font-size: 012px;
  }
}
