.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.row {
  display: flex;
}

.description {
  color: rgb(12, 53, 71);
  margin: 10px 0;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .description {
    font-size: 012px;
  }
}
