.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.node {
  padding: 9px;
  border: 1px solid lightskyblue;
}

.row {
  display: flex;
}
.button {
  display: flex;
  align-items: center;
}

.startNode {
  padding: 9px;
  border: 1px solid lightskyblue;
  background-color: black;
}
.visited {
  background-color: lightslategray;
  padding: 9px;
  border: 1px solid lightskyblue;
}

.wall {
  background-color: darkslateblue;
  padding: 9px;
  border: 1px solid lightskyblue;
}

.inPath {
  background-color: royalblue;
  padding: 9px;
  border: 1px solid lightskyblue;
}

.endNode {
  padding: 9px;
  background-color: crimson;
  border: 1px solid lightskyblue;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(52, 73, 94);
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;

  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
}

.algorithmsDropDown {
  position: absolute;
  top: 46px;
  padding: 10px;
  left: 0px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 73, 94);
  width: 200px;
}

.selected {
  background-color: rgb(26, 188, 156);
}

.algorithmsDropDown button {
  padding: 5px;
  transition: ease-in;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  transition-duration: 200ms;
  text-align: left;
  transition-property: all;
  border-radius: 3px;
}
.algorithmsDropDown button:hover {
  background-color: rgb(26, 188, 156);
}

.visualizeBtn {
  background-color: #1abc9c;
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 13px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition: ease-in;
}

.visualizeBtn:disabled {
  background-color: tomato;
}

.visualizeBtn:hover {
  background-color: #48c9b0;
}

.btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 13px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition: ease-in;
}
