.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: rgb(52, 73, 94);
  color: rgb(255, 255, 255);
  padding: 0 20px;
  width: 100vw;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    justify-content: left;
  }
}

.heading {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
}

.heading:hover {
  color: #48c9b0;
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.navOptions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.options {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
  padding: 15px;
}

.options p {
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px;
}

.unselected:hover p,
.unselected:hover svg {
  color: #48c9b0;
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.options svg {
  font-size: 18px;
}

.chevronUp {
  transform: rotate(60);
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.dropdown {
  position: absolute;
  padding: 5px;
  left: 0;
  z-index: 10;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 73, 94);
  color: rgb(255, 255, 255);
  width: 200px;
}

.selected {
  background-color: rgb(26, 188, 156);
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.dropdown button,
.timeDropdown button,
.dropdownSidebar button {
  padding: 5px;
  transition: ease-in;
  font-size: 12px;
  outline: none;
  border: none;
  background-color: transparent;
  transition-duration: 200ms;
  text-align: left;
  transition-property: all;
  border-radius: 3px;
}
.dropdown button:hover,
.timeDropdown button:hover,
.dropdownSidebar button:hover {
  background-color: rgb(26, 188, 156);
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.dropdown button:disabled,
.timeDropdown button:disabled,
.dropdownSidebar button:disabled {
  color: rgb(255, 255, 255);
}

.dropdown button:disabled:hover,
.timeDropdown button:disabled:hover,
.dropdownSidebar button:disabled:hover {
  background-color: rgb(185, 15, 15);
  color: rgb(255, 255, 255);
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.timeDropdown {
  position: absolute;
  padding: 5px;
  z-index: 10;
  width: 100px;
  left: 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 73, 94);
}

.visualizeBtn {
  background-color: #1abc9c;
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition: ease-in;
}

.visualizeBtn:hover {
  background-color: var(--hover-color);
}

.visualizeBtn:disabled,
.visualizeBtn:disabled:hover {
  background-color: rgb(185, 15, 15);
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition: ease-in;
}

.btn:hover {
  color: #48c9b0;
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.btn:disabled:hover {
  color: rgb(185, 15, 15);
  transition: ease-in;
  transition-duration: 200ms;
  transition-property: all;
}

.menuBtn {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 60%;
  padding: 10px;
  border-top-left-radius: 10px;
  box-shadow: 10px 10px 24px rgb(52, 73, 94);
  backdrop-filter: blur(12px) brightness(90%);
  padding-top: 70px;
  color: rgb(255, 255, 255);
}

.select {
  background-color: rgb(52, 73, 94);
  padding: 7px;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.iconActivate {
  transform: rotate(180deg);
  transition: all 1s ease-in;
}

.select:hover {
  background-color: rgb(60, 73, 94);
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 35px;
  width: 35px;
  left: 15px;
  top: 15px;
  background-color: rgb(52, 73, 94);
  border-radius: 100%;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-size: 20px;
}

.closeBtn:hover {
  background-color: rgb(60, 73, 94);
}

.dropdownSidebar {
  padding: 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 5px;
}

.dropdownSidebar button {
  color: rgb(52, 73, 94) !important;
  font-size: 12px;
  font-weight: 700;
}

.dropdownSidebar button:hover {
  color: rgb(255, 255, 255) !important;
}

.sidebarVisualizeBtn {
  width: 100%;
  margin: 10px 0;
}

.sidebarBtn {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  color: rgb(52, 73, 94);
  font-size: 12px;
  font-weight: 700;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.sidebarBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(52, 73, 94);
}

.btnBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .navbar {
    justify-content: center;
    width: 100vw;
  }
  .navOptions {
    display: none;
  }
  .heading {
    padding: 12px;
  }
  .menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 35px;
    width: 35px;
    right: 15px;
    background-color: #1abc9c;
    border-radius: 100%;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .menuBtn svg {
    font-size: 20px;
  }
  .menuBtn:hover {
    background-color: #48c9b0;
  }
}
